.logo {
  width: 124px;
  margin-top: 20px;
}

.header {
  background-color: #bdf7f1;
  height: 200px;
}

.body {
  background-color: #ff8888;
  height: 400px;

.btn-wrapper {
  text-align: center;
  margin-right: -25px;
}


.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
